# Visual Studio
.vs/
bin/
obj/

# User-specific files
*.user
*.suo
*.rsuser

# Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/

# NuGet
packages/
*.nupkg

# Installer build artifacts
Installer/publish/
Installer/Output/
